---
import Post from "../../components/post.astro";
import Layout from "../../layouts/layout.astro";

interface Frontmatter {
  title: string;
  cover: string;
  category: string
}

const posts = await Astro.glob<Frontmatter>('./*.md');
---

<script>
  const search = (new URL(window.location.href).searchParams.get("search") ?? "").toLowerCase();
  if(search != ""){
    const grid = document.getElementById("grid");

    for (const child of grid!.children) {
      const title = child.getAttribute("data-title") ?? "";
      const tags = child.getAttribute("data-tags") ?? "";
      if(!(title + " " + tags).toLowerCase().includes(search)){
        (child as any).style.display = "none"
      }
    }
  }
  
</script>

<Layout title="Products - Deploid Studio">
  <div class="container mx-auto px-4 py-20">
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-32" id="grid">
        {posts.map((e, i) => <Post 
          data={e.frontmatter} 
          url={"/blog/" + e.file.split("/").at(-1)?.split(".").at(0)} 
          index={i}
        />)}
      </div>
    </div>
  </div>
</Layout>