---
import Layout from '../layouts/layout.astro';
import { Pencil, ArrowRight, Trophy, GameController, Lightning, CodeSimple, UserCircle, Code } from "phosphor-react";
import Pricing from '../components/pricing.astro';
import Warpspeed from '../components/warpspeed.astro';
import Post from '../components/post.astro';

interface Frontmatter {
  title: string;
  cover: string;
  category: string
}

// const products = await Astro.glob<Frontmatter>('./products/*.md');
// const categories: string[] = []

// products.map((e, i) => {
// 	if(!categories.includes(e.frontmatter.category)){
// 		categories.push(e.frontmatter.category)
// 	}
// })

const posts = await Astro.glob<Frontmatter>('./blog/*.md').then((data) => data.slice(0, (data.length < 4 ? data.length : 4)));
---

<Layout title="Deplōid Studio" banner="Try 3 days for free" dark>
	<div class="flex flex-col gap-32 py-20">
		<div class="absolute top-0 left-0 right-0 h-[900px] bg-cover bg-gradient-to-b from-red-800 to-zinc-900 travel">
			<div class="absolute w-full h-1/2 bottom-0 bg-gradient-to-b from-transparent to-zinc-900"></div>
			<Warpspeed/>
		</div>
		<div class="relative flex flex-col items-center gap-10 px-4 z-20">
			<div class="rounded-lg overflow-hidden shadow-xl">
				<div class="h-7 bg-gray-200 flex items-center gap-2 px-2">
					<div class="h-3 w-3 bg-red-500 rounded-full"></div>
					<div class="h-3 w-3 bg-yellow-500 rounded-full"></div>
					<div class="h-3 w-3 bg-green-500 rounded-full"></div>
				</div>
				<div class="bg-black text-gray-200 px-4 py-4 sm:text-sm md:text-xl font-mono">$ your to-go app dev <span class="blink opacity-60 relative bottom-[2px]">▉</span></div>
			</div>
			<h1 class="text-6xl md:text-8xl pb-4 font-semibold text-center text-white">Fastest time to value</h1>
			<div class="flex flex-col md:flex-row max-w-4xl gap-6 text-white">
				<div class="flex flex-1 items-center gap-6">
					<div class="w-14 h-14 bg-white text-black text-2xl font-bold flex items-center justify-center shrink-0 rounded-full">
						1
					</div>
					<p class="text-xl">Elaborate your ideas with hi-fi design mockups to start collecting feedback</p>
				</div>
				<div class="flex flex-1 items-center gap-6">
					<div class="w-14 h-14 bg-white text-black text-2xl font-bold flex items-center justify-center shrink-0 rounded-full">
						2
					</div>
					<p class="text-xl">Bring your tasks and make it perfect with custom development service</p>
				</div>
			</div>
		</div>
		
		
		<div class="relative container mx-auto px-4">
			<div class="grid grid-cols-1 lg:grid-cols-4 gap-16 lg:gap-8 mt-10">
				<div class="flex flex-col items-center gap-4">
					<div class="w-16 h-16 rounded-xl border-2 border-white text-white flex items-center justify-center shrink-0 mb-1">
						<Trophy size={32} />
					</div>
					<h3 class="text-2xl font-semibold">100% satisfaction</h3>
					<p class="text-xl text-center text-zinc-400">We are in feedback loop mode until you are 100% satisfied </p>
				</div>
				<div class="flex flex-col items-center gap-4">
					<div class="w-16 h-16 rounded-xl border-2 border-white text-white flex items-center justify-center shrink-0 mb-1">
						<GameController size={32} />
					</div>
					<h3 class="text-2xl font-semibold">You are in controll</h3>
					<p class="text-xl text-center text-zinc-400">Start, pause or cancel your subscription anytime</p>
				</div>
				<div class="flex flex-col items-center gap-4">
					<div class="w-16 h-16 rounded-xl border-2 border-white text-white flex items-center justify-center shrink-0 mb-1">
						<Lightning size={32} />
					</div>
					<h3 class="text-2xl font-semibold">Fast iteration</h3>
					<p class="text-xl text-center text-zinc-400">Our first response within 24h and test-builds in 3 days</p>
				</div>
				<div class="flex flex-col items-center gap-4">
					<div class="w-16 h-16 rounded-xl border-2 border-white text-white flex items-center justify-center shrink-0 mb-1">
						<CodeSimple size={32} />
					</div>
					<h3 class="text-2xl font-semibold">Solid compliance</h3>
					<p class="text-xl text-center text-zinc-400">All work is done in your own private Github repository</p>
				</div>
			</div>
		</div>

		<div class="container mx-auto">
			<div class="flex flex-col gap-32 px-4" id="grid">
				{posts.map((e, i) => <Post 
					badge={true}
					data={e.frontmatter} 
					url={"/blog/" + e.file.split("/").at(-1)?.split(".").at(0)} 
					index={i}
				/>)}
			</div>
		</div>
		
		<div class="container mx-auto">
			<div class="flex flex-col md:flex-row gap-10 px-4 items-end">
				<div class="flex-1">
					<h3 class="text-4xl md:text-6xl font-semibold !leading-snug">Looking for an on-demand development service for ever evolving digital products? Create your repository and let's start discussing details!</h3>
				</div>
				<div class="flex flex-col py-4 max-w-sm">
					<div class="flex items-center gap-4 mb-4">
						<img src="/bro.png" class="object-fit rounded-full w-20 h-20"/>
						<div>
							<p class="text-xl font-semibold">Marcus Felix</p>
							<p class="text-zinc-400">Creative app developer</p>
						</div>
					</div>
					<div>
						<p class="text-xl text-zinc-400">Lets connect inside your project's repository and met your development demands</p>
					</div>
					<a href="/deploy/blank" class="bg-white text-black mt-4 px-6 py-4 flex items-center gap-4 rounded-xl text-xl">
						<UserCircle size={30} />
						<span class="flex-1 pt-[2px]">Connect with Github</span>
						<ArrowRight size={30} />
					</a>
				</div>
			</div>
		</div>
		<Pricing/>
	</div>
</Layout>
<style>
	.travel{
		animation: travelling 60s normal forwards ease-in-out;
		background-position: center;
	}
	.vignette {
		background: radial-gradient(transparent, black);
	}
	@keyframes travelling {
		0%   {
			background-size: auto 100%;
		}
		100% {
			background-size: auto 150%;
		}
	}
</style>