---
import { CheckCircle } from "phosphor-react";

---
<div class="container mx-auto px-4">
  <div class="flex lg:flex-row flex-col gap-20">
    <div class="flex flex-1 flex-col items-start gap-4 py-2">
      <div class="text-2xl text-white border-2 px-4 py-2 mb-2 rounded-xl">Weekly sprints</div>
      <big class="text-6xl font-bold">We have a plan!</big>
      <p class="text-2xl text-zinc-400">After creating your Github project, subscribe to one of our plans accordingly to your needs</p>
    </div>
    <div class="flex flex-1 flex-col items-start gap-4 py-2">
      <div class="text-2xl font-semibold bg-cyan-300 text-cyan-800 px-4 py-2 mb-2 rounded-xl">Design</div>
      <div class="flex items-end">
        <big class="text-6xl font-bold">399</big>
        <small class="text-xl p-1 text-zinc-400 font-semibold tracking-tight">/week</small>
      </div>
      <p class="text-2xl text-zinc-400">Service to visualize and mature your idea with hi-fidelity prototypes</p>
      <ul class="flex flex-col gap-3 my-4 text-lg text-zinc-400">
        <li class="flex items-center gap-2"><CheckCircle size={24}/> Branding design ²</li>
        <li class="flex items-center gap-2"><CheckCircle size={24}/> App Icons</li>
        <li class="flex items-center gap-2"><CheckCircle size={24}/> Color schemes</li>
        <li class="flex items-center gap-2"><CheckCircle size={24}/> UI/UX design ³</li>
      </ul>
    </div>
    <div class="flex flex-1 flex-col items-start gap-4 py-2">
      <div class="text-2xl font-semibold bg-purple-300 text-purple-800 px-4 py-2 mb-2 rounded-xl">Code</div>
      <div class="flex items-end">
        <big class="text-6xl font-bold">599</big>
        <small class="text-xl p-1 text-zinc-400 font-semibold tracking-tight">/week</small>
      </div>
      <p class="text-2xl text-zinc-400">Materialize your project in to the actual app with high performant code.</p>
      <ul class="flex flex-col gap-3 my-4 text-lg text-zinc-400">
        <li class="flex items-center gap-2"><CheckCircle size={24}/> Web apps </li>
        <li class="flex items-center gap-2"><CheckCircle size={24}/> Mobile apps</li>
        <li class="flex items-center gap-2"><CheckCircle size={24}/> Desktop apps</li>
        <li class="flex items-center gap-2"><CheckCircle size={24}/> Firebase deployment ⁴</li>
        <li class="flex items-center gap-2"><CheckCircle size={24}/> Cloud Functions</li>
        <li class="flex items-center gap-2"><CheckCircle size={24}/> Publishing service ⁵</li>
      </ul>
    </div>
  </div>
</div>
