---
import Layout from "./layout.astro"

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title + " - Marcus Felix"}>
  <div class="container mx-auto max-w-4xl py-20 prose-xl">
    <slot/>
  </div>
</Layout>
